{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website/style.css'%}" />
    <title>Meeting : {{meetingvar.title}}</title>
</head>
<body>
    <h1> {{meetingvar.title}} </h1>
    
    <p>This meeting is scheduled on {{meetingvar.date}} at {{meetingvar.starttime}} in the room <strong>{{meetingvar.room}}</strong>. </p>

    
    <a href="{% url 'welcomeurl' %}"> Home </a> 
</body>
</html>